html{
    font-family: 'Open Sans', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}

body{
    background: #fff;
}


/*Navbar**********************************************/
nav{
    position: relative;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    margin-top: -20px;
    z-index: 1;
    background-color: #ffffff;
    border-bottom: 2px solid #04b2dc;
}

nav:after{
    clear: both;
    content: "";
    display: block;
}

.nav-container{
    max-width: 1200px;
    position: relative;
    margin-right: 50px;
    margin-left: 50px;
}

#logo{
    width: 98px;
    height: 70px;
    margin-top: 25px;
}

.nav-container ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}

.nav-container li{
    list-style: none;
    float: left;
    margin: 10px 25px;
}

.nav-container li a{
    text-decoration: none;
    color: #666;
    transition: 0.5s;
    font-weight: bold;
}

.nav-container li a:hover{
    color: #3381F3;
    text-shadow: 0.1em 0.1em 0.2em #04b2dc;
    border-bottom: 2px solid #04b2dc;
}

/*Banner*/
#main-banner{
    background: url('../img/img12.jpg') no-repeat;
    background-size: cover;
    background-position: 0 55% 10%;
    position: relative;
    margin-top: 0px;
    height: 500px;
    box-shadow:0 10px 10px rgba(0,0,0,0.2); 
}

#main-banner-home{
    background: url('../img/Maldivas.jpg') no-repeat;
    background-size: cover;
    background-position: 0 55% 10%;
    position: relative;
    margin-top: 0px;
    height: 500px;
}

#search-form{
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10em;
    padding-bottom: 15em;
    text-align: center;
}

#search-form h1{
    font-size: 40px;
    color: #ffff;
    font-weight: 200;
}

#search-form p{
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 18px;
    font-weight: 300;
    color: #ffff;
}

#search-form input, #search-form select{
    background-color: #FFF;
    border-radius: 5px;
    border-color: transparent;
    padding: 10px 20px;
    font-size: 18px;
    margin: 0 10px;
}



.heading{
  text-align: center;
  padding: 40px 0;
}

.heading span{
  font-size: 35px;
  background: #E0F7F8;
  color: #3381F3;
  border-radius: 10px;;
  padding: 8px 10px;;    
}

.heading span.space{
  background:none;
}



/* About Section */

.about{
    width: 100%;
    height: 400px;
    background-color: #161922;
    display: flex;
    justify-content: center;
    align-items: center;
   /* border-bottom-right-radius: 1800px;
    border-top-right-radius: 500px;
    border-top-left-radius: 500px;
    border-bottom-left-radius: 500px;*/
}

.about .content-about img{
    height: 300px;
    width: 300px;
    max-width: 100%;
}

.text-about{
    width: 550px;
    max-width: 100%;
    padding: 0 10px;
}

.content-about{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text-about h1{
    color: #3381F3;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.text-about h5{
    color: white;
    font-size: 18px;
    margin-bottom: 25px;
    text-transform: capitalize;
    letter-spacing: 2px;
}

.text-about p{
    color: #c0c4d6;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

.text-about .btn-about{
    position: relative;
    display: inline-block;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    background-color: #3381F3;
    border-color: #3381F3;
    color: #FFF;
    bottom: 10px;
    padding: 8px 40px;
}

.text-about .btn-about:hover{
    background-color: #19EA8D;
    color: #FFF;
}


/*Contact********************************************/
.wrapper {
    display: grid;
    text-align: center;
    margin: 200px 90px auto;
    grid-gap: 20px;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
}

@media (max-width: 700px) {
  .wrapper {
    margin: 200px auto;
  }
}
.wrapper .box {
  width: 350px;
  margin: 0 auto;
  position: relative;
  perspective: 1000px;
}

.wrapper .box .front-face {
  background: #161922;
  height: 220px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}

.box .front-face .icon {
  height: 80px;
}

.box .front-face .icon i {
  font-size: 65px;
}

.box .front-face span,
.box .back-face span {
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
}

.box .front-face .icon i,
.box .front-face span {
  background: linear-gradient(#ffff, #04b2dc, #ffff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.box .back-face {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 220px;
  width: 100%;
  padding: 30px;
  color: #fff;
  opacity: 0;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  background: linear-gradient(#161922, #4158d0,#161922);
  transform: translateY(110px) rotateX(-90deg);
  box-shadow: 0px 5px 20px 0px rgba(0, 81, 250, 0.1);
  transition: all 0.5s ease;
}

.box .back-face p {
  margin-top: 10px;
  text-align: justify;
}

.box:hover .back-face {
  opacity: 1;
  transform: rotateX(0deg);
}

.box:hover .front-face {
  opacity: 0;
  transform: translateY(-110px) rotateX(90deg);
}

/*Footer*********************/
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}

.footer{
	background-color: #24262b;
    padding: 50px;
    margin-top: 40px;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #04b2dc;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #04b2dc;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #04b2dc;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}



/*NavBar*/

.container{
    max-width: 1920px;
    width: 100%;
}

/*Header*/
header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}